@use "../../sass/variables" as *;

body {
  background-color: $body-background;
}

.lista {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.lista h1 {
  text-align: center;
  color: $header-background-item;
  font-weight: 600;
  font-size: 40px;
  line-height: 60px;
  padding: 7rem;
  max-width: 1024px;
}

.itens-da-lista {
  display: flex;
  gap: 9.5rem;
  padding-bottom: 20px;
  color: $header-background-item;
  border-bottom: 4px solid $background-border;
}


.add-task {
 display: flex;
 align-items: center;
 gap: 8rem;
 padding: 12px 0;

}

.add-task h3 {
  color: $header-background-item;
  font-weight: 100;
}

.add-task input {
  background-color: $body-background;
  border: none;
  color:$header-background-item; 
  width: 300px;
  height: 30px;

}

.add-task img {
  cursor: pointer;
}

.lista-itens {
  width: 100%;
  display: grid;
  grid-template-columns: 120rem;
}

.itens-lista {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  list-style-type: none;
  color: $header-background-item;
  gap: 9.5rem;
}

.itens-lista li {
  text-align: left;
  max-width: 600px;
}


.editar-excluir-tasks {
  padding-left: 2rem;
}

.editar-excluir-tasks img{
  cursor: pointer;
  width: 14px;
}






